# 构建输出
bin/
obj/
/packages/
Publish/
publish-release/
dist/
dist-build/

riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
*.DotSettings.user
*.user
*.suo

.DS_Store
Thumbs.db

.qodo/

/EarthquakeWaring.App/bin
/EarthquakeWaring.App/obj